There fore the list of the products are as shown
<%@products.each do |product|%>
  <tr>
	  <th>
           <h1><%=product.title	%>------></h1>               
              <%=quantity = product.variants[0].attributes[:inventory_quantity]%>
           <%#binding.pry%>
	  </th>
  </tr>  
<%end%>	