<p id="notice"><%= notice %></p>

<p>
  <strong>Mobile number:</strong>
  <%= @mobile_number_storer.mobile_number %>
</p>

<%= link_to 'Edit', edit_mobile_number_storer_path(@mobile_number_storer) %> |
<%= link_to 'Back', mobile_number_storers_path %>
